@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
body {
  height: 100%;
  margin: 0px auto;
  font-family: Roboto;
  background: lightslategrey;
}
h1,
h2,
h3 {
  text-align: center;
  margin: 1em;
  font-family: Pacifico;
}
b {
  background: LightSalmon;
  border-radius: 9px;
  padding: 0.5em;
  width: 110px;
}
h3 {
  padding: 0;
  margin: 0;
  text-align: left;
}

.stage {
  display: grid;
  grid-template-columns: 1em 1fr 1fr 1fr 1fr 1fr 1fr 1em;
  grid-template-rows: 1em 4em 1fr 4em 1em;
  grid-gap: 1em;
  background: ivory;
  border-radius: 9px;
  border: 1px solid lightsalmon;
  margin: 1em 1em 0em 1em;
  padding: 1em;
  width: calc(100% - 4em);
}
.title {
  grid-row: 2;
  grid-column: 2/-2;
  font-family: Pacifico;
  font-size: 2em;
  text-align: center;
}
.content {
  grid-row: 3;
  grid-column: 2/-2;
}

.list {
  display: grid;
  grid-template-rows: 1fr;
}
.li {
  border: 1px solid darkcyan;
  border-radius: 9px;
  margin-bottom: 1em;
  padding: 1em;
}
.ii {
  border: 1px solid darkcyan;
  border-radius: 9px;
  margin-bottom: 2px;
  padding: 1em;
  border: 1px solid darkcyan;
  height: 2em;
  font-size: 1.2em;
  font-family: Roboto;
  width: calc(100%-2em);
}
.btn {
  grid-row: 4;
  grid-column: 2/-2;
  background: Lavender;
  color: darkcyan;
  padding: 1em;
  font-size: 2em;
  text-align: center;
  border-radius: 9px;
  height: 1em;
  border: 1px solid darkcyan;
}
#dater {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2px;
}
#day,
#month,
#year {
  text-align: center;
}

#real:valid,
#user:valid,
#day:valid,
#month:valid,
#year:valid,
#mobile:valid,
#email:valid,
#xc:valid,
#tm:valid {
  color: DarkCyan;
}
#real:invalid,
#user:invalid,
#day:invalid,
#month:invalid,
#year:invalid,
#mobile:invalid,
#email:invalid,
#xc:invalid,
#tm:invalid {
  color: LightSalmon;
}
#userboard {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-gap: 1em;
}
#avatar {
  width: 120px;
  border-radius: 9px;
}
#userinf {
  display: grid;
  width: calc(100%);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0em;
}
#pools {
  margin-bottom: 1em;
}
.pool {
  border: 1px solid DarkCyan;
  color: DarkCyan;
  border-radius: 9px;
  padding: 1em;
  margin-bottom: 0.2em;
}
.pool:hover {
  background: DarkCyan;
  color: white;
}
