@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");
* {
  box-sizing: border-box;
  font-family: "Nova Mono";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
  font-family: "Nova Mono";
}
.navbar {
  width: calc(100%);
  height: 60px;
  background: black;
  position: absolute;
  padding: 1em;
  top: 1em;
  left: 0em;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 1em;
  .menu {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-gap: 1em;
    color: white;
    font-size: 1.6em;
    #logo,
    #netimg {
      height: 33px;
    }
  }
}
.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(lightgrey, 0.8);
  display: none;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-rows: 1fr 500px 1fr;
  .mbox {
    grid-row: 2;
    grid-column: 2;
    background: white;
    border-radius: 9px;
    text-align: center;
  }
  #closer {
    background: black;
    color: tomato;
    border-radius: 50%;
    border: 1px solid tomato;
    height: 28px;
    width: 28px;
    text-align: center;
    grid-row: 1;
    grid-column: 2;
    justify-self: flex-end;
    align-self: flex-end;
    margin-bottom: 1em;
  }
  #closer:hover {
    background: tomato;
    color: black;
    border: 1px solid black;
  }
}
.stage {
  width: calc(100%);
  min-height: 500px;
  padding: 1em;
  position: absolute;
  top: 80px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 28px 1fr 28px;
  grid-gap: 1em;
  .fullheight {
    grid-row: 1/-1;
    background: darkgray;
  }
  .menu {
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 1em;
    background: grey;
    color: white;
    #filter {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    #search,
    #sort {
      display: grid;
      grid-template-columns: 1fr 28px;
    }
    .sel {
      width: 100%;
    }
  }
  #pages {
    grid-row: 3 !important;
  }
  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-gap: 1em;
    .item {
      max-height: 200px;
      background: grey;
      border-radius: 9px;
      display: grid;
      grid-template-rows: 20px 1fr 40px;
      overflow: hidden;
      .itempic {
        grid-row: 1/-1;
        grid-column: 1/-1;
        width: auto;
        max-height: 200px;
        justify-self: center;
      }
      .title {
        grid-row: 1;
        grid-column: 1/-1;
        background: rgba(black, 0.5);
        color: white;
        padding-left: 1em;
      }
      .price {
        grid-row: 3;
        grid-column: 1/-1;
        font-weight: 900;
        padding-right: 1em;
        justify-self: stretch;
        font-size: 1.8em;
        background: rgba(white, 0.5);
        border-radius: 9px 9px 0 0;
        text-align: center;
      }
      .price:hover {
        background: rgba(mediumseagreen, 0.5);
        color: white;
      }
    }
  }
}
#foot {
  position: absolute;
  left: 0;
  top: calc(100% - 100px);
  width: 100%;
  height: 60px;
  padding: 1em;
  background: black;
  color: white;
}
